@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg-color: #F5F5F7;
  --secondary-color: #705c53;
  --btn-color: #b7b7b7;
  --specific-color: #eddfe0;
}

body {
  font-family:"Geist Mono", serif ;
  color: #000;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--primary-bg-color);
}

.container--fluid {
  width: 90%;
  margin: 0 auto;
  max-width: 1440px;
}
